.profile-wrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container
{
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.card-front h1
{
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.card-container-two 
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-container:hover .card-container-two
{
    transform: rotateY(180deg);
}

.card-front, .card-back
{
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
}

.card-front
{
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
        rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}

.card-back
{
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
        bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

.card-back ul
{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea exactamente 2 columnas del mismo tamaño */
    gap: 5px; /* Separación: 8px entre filas, 15px entre columnas */
    padding: 0 10px; /* Centra mejor la cuadrícula en la tarjeta */
    box-sizing: border-box;
    justify-content: center;  /* Para que el contenido se centre contenido de las columnas */

    list-style: none;
    margin: 0 auto;
}

.card-back ul li
{
    text-align: center;
    width: 100%;
}

.card-back li {
    font-size: 0.8rem; /* Un poco más pequeño para que quepa */
    white-space: nowrap; /* Evita que el texto baje de línea si es posible */
    overflow: hidden; /* Si es muy largo, lo corta */
    text-overflow: ellipsis; /* Pone "..." si se corta */
}