{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Perfil</title>
    <!-- Reutilizamos tus estilos -->
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
    <link rel="stylesheet" href="{% static 'core/buttons.css' %}">
    
    <style>
        /* Un poco de CSS extra para el formulario */
        .form-container { background: #313244; padding: 2rem; border-radius: 1rem; color: white; width: 300px; margin: auto; margin-top: 50px;}
        input, textarea { width: 100%; margin-bottom: 10px; padding: 8px; border-radius: 5px; border: none;}
        button { background: coral; color: white; padding: 10px; border: none; width: 100%; cursor: pointer; font-weight: bold;}
    </style>
</head>
<body>

    <div class="form-container">
        <h2>Nuevo Perfil</h2>
        
        <form method="POST">
            {% csrf_token %} <!-- EL ESCUDO DE SEGURIDAD -->
            
            <!-- Django pinta los inputs por ti -->
            {{ form.as_p }}
            
            <button class="btn" type="submit">Guardar Perfil</button>
        </form>
    </div>

</body>
</html>