{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/card.css' %}">
    <link rel="stylesheet" href="{% static 'core/buttons.css' %}">
    
    <title>Perfil de Usuario</title>
</head>
<body>
    <header class="header-container">
        <nav class="header-nav">
            {% if user.is_authenticated %}
                <div class="nav-user">
                    <span>Hola, {{ user.username }}</span>
                </div>
                <div>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn">Cerrar Sesión</button>
                    </form>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}" class="btn">Iniciar Sesión</a>
                </div>
            {% endif %}
        </nav>
    </header>
    
    {% if user.is_authenticated %}
        <div class="btn-container">
            <a href="{% url 'profile_create' %}" class="btn">Crear Perfil</a>
        </div>
    {% endif %}
    <div class="profile-wrapper">     
        {% for profile in profiles %}
        <div class="profile-card-wrapper">
            <div class="card-container">
                <div class="card-container-two"> 
                    <div class="card-front">  
                        <!-- Variable simple -->
                        <h1>Perfil de {{ profile.name }}</h1>
                        <p>Rol: <strong>{{ profile.role }}</strong></p>
                    </div> 
                    <div class="card-back">
                        <h3>Habilidades Técnicas:</h3>
                        <ul>
                            <!-- Bucle For en HTML (Poder de Django) -->
                            {% for skill in profile.get_skills_list %}
                                <li>{{ skill }}</li>
                            {% empty %}
                                <li>No hay habilidades registradas.</li>
                            {% endfor %}
                        </ul>
                        <div class="card-framework">
                        <p><em>Generado dinámicamente con Django</em></p>
                        </div>
                    </div>
                </div>
                {% if user.is_authenticated %}    
                    <div class="card-footer">
                        <a href="{% url 'profile_update' profile.id %}" class="btn">Editar</a>
                        <form action="{% url 'profile_delete' profile.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn">Eliminar</button>
                        </form>
                    </div>
                {% endif %}   
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>