.btn-container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* From Uiverse.io by Codecite */ 
.btn {
    display: inline-block; /* Asegura que los enlaces <a> respeten el tamaño */
    width: 100px;
    height: 40px;
    line-height: 40px; /* Centra el texto verticalmente */
    border-radius: 20px;
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 10px 20px -6px rgba(238, 103, 97, 0.5);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    text-align: center; /* Centra el texto horizontalmente */
    text-decoration: none; /* Quita el subrayado de los enlaces */
    transition: all 0.3s ease-in-out;
}



.btn:hover {
    transform: translateY(3px);
    box-shadow: none;
}

.btn:active {
    opacity: 0.5;
}

